**/build/
**/.gradle/
**/run/
**/__pycache__/
*.log
.env*
*.rpf
*.png
*.mp4
*.mca
*.dat
launcher_accounts.json
accounts.json
installed-build/
*.exe
*.dll
*.asi
*.obj
*.pdb
*.lib
*.exp
*.dmp
*.zip
*.gif
